{{#if success_msg}}
<div class="w3-container w3-margin w3-padding w3-round w3-pale-green">
    <h4>Success</h4>
    <p>{{success_msg}}</p>
</div>
{{/if}} {{#if error_msg}}
<div class="w3-container w3-margin w3-padding w3-round w3-pale-red">
    <h4>Error</h4>
    <p>{{error_msg}}</p>
</div>
{{/if}}