<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./asset/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <title>{{title}}
    </title>
</head>

<body>
    {{{body}}}
</body>

</html>