<div class="w3-container w3-padding w3-round w3-center w3-light-blue w3-margin w3-card-2">
    <h1>Add a New Note</h1>
</div>
<div class="w3-container w3-padding w3-margin w3-dark-grey w3-round">
    <form action="add" method="post">
        <p>
            <label for="title">Add a title</label>
            <input type="text" name="title" class="w3-input w3-text-black" required>
        </p>
        <p>
            <label for="body">Add a title</label>
            <textarea name="body" rows="5" class="w3-input w3-text-black" required></textarea>
        </p>
        <input type="submit" value="Add" class="w3-btn w3-margin w3-blue w3-round w3-third">
        <a href="/" class="w3-btn w3-margin w3-red w3-round w3-third w3-right">Cancel</a>
    </form>
</div>